In [2]:
import pandas as pd
import numpy as np

# Question 1: Creating and displaying a one-dimensional array-like object using Pandas
data = pd.Series([1, 3, 5, 7, 9])
print("1. One-dimensional array-like object:")
print(data)
print()

# Question 2: Converting a Pandas Series to a Python list and displaying its type
data_list = data.tolist()
print("2. Converted Python list:", data_list)
print("   Type of converted list:", type(data_list))
print()

# Question 3: Performing arithmetic operations on two Pandas Series
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 9])

addition = series1 + series2
subtraction = series1 - series2
multiplication = series1 * series2
division = series1 / series2

print("3. Arithmetic Operations:")
print("   Addition:")
print(addition)
print("   Subtraction:")
print(subtraction)
print("   Multiplication:")
print(multiplication)
print("   Division:")
print(division)
print()

# Question 4: Comparing elements of two Pandas Series
comparison = series1 == series2
print("4. Comparison result:")
print(comparison)
print()

# Question 5: Converting a dictionary to a Pandas Series
original_dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
converted_series = pd.Series(original_dict)
print("5. Converted series:")
print(converted_series)
print()

# Question 6: Converting a NumPy array to a Pandas Series
numpy_array = np.array([10, 20, 30, 40, 50])
converted_series = pd.Series(numpy_array)
print("6. Converted Pandas series:")
print(converted_series)

1. One-dimensional array-like object:
0    1
1    3
2    5
3    7
4    9
dtype: int64

2. Converted Python list: [1, 3, 5, 7, 9]
   Type of converted list: <class 'list'>

3. Arithmetic Operations:
   Addition:
0     3
1     7
2    11
3    15
4    19
dtype: int64
   Subtraction:
0    1
1    1
2    1
3    1
4    1
dtype: int64
   Multiplication:
0     2
1    12
2    30
3    56
4    90
dtype: int64
   Division:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Comparison result:
0    False
1    False
2    False
3    False
4    False
dtype: bool

5. Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int32

In [3]:


# 7. Change the data type of a given column or a Series
original_series = pd.Series(['100', '200', 'python', '300.12', '400'])
print("7. Sample Series:")
print("Original Data Series:")
print(original_series)
print()

converted_series = pd.to_numeric(original_series, errors='coerce')
print("Change the said data type to numeric:")
print(converted_series)
print()

# 8. Convert the first column of a DataFrame to a Series
original_df = pd.DataFrame({'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1, 11]})
print("8. Original DataFrame:")
print(original_df)
print()

first_column_series = original_df.iloc[:, 0]
print("1st column as a Series:")
print(first_column_series)
print(first_column_series.dtype)
print()

# 9. Convert a given Series to an array
original_series = pd.Series(['100', '200', 'python', '300.12', '400'])
print("9. Sample Series:")
print("Original Data Series:")
print(original_series)
print()

series_to_array = original_series.values
print("Series to an array")
print(series_to_array)
print(type(series_to_array))
print()

# 1. Create a dataframe from a dictionary and display it
data = {'X': [78, 85, 96, 80, 86], 'Y': [84, 94, 89, 83, 86], 'Z': [86, 97, 96, 72, 83]}
df = pd.DataFrame(data)
print("1. DataFrame from a dictionary:")
print(df)
print()

# 2. Create and display a DataFrame from a specified dictionary data which has the index labels
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
print("2. DataFrame with index labels:")
print(df)
print()

# 3. Display a summary of the basic information about a specified DataFrame and its data
print("3. Summary of the basic information about the DataFrame and its data:")
print("Summary of the basic information about this DataFrame and its data:")
print(df.info())

7. Sample Series:
Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Original DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
int64

9. Sample Series:
Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Series to an array
['100' '200' 'python' '300.12' '400']
<class 'numpy.ndarray'>

1. DataFrame from a dictionary:
    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

2. DataFrame with index labels:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

3. Summary of the basic information about the DataFrame and its data:
Summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [4]:


# Sample Python dictionary data and list labels
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# 4. Get the first 3 rows of a given DataFrame
df = pd.DataFrame(exam_data, index=labels)
print("4. First three rows of the data frame:")
print(df.head(3))
print()

# 5. Select the 'name' and 'score' columns from the DataFrame
selected_columns = df[['name', 'score']]
print("5. Select specific columns:")
print(selected_columns)
print()

# 6. Select specified columns and rows from the DataFrame
selected_rows_and_columns = df.loc[['b', 'd', 'f', 'g'], ['name', 'score']]
print("6. Select specific columns and rows:")
print(selected_rows_and_columns)

4. First three rows of the data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

5. Select specific columns:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

6. Select specific columns and rows:
      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

In [5]:

# Sample Python dictionary data and list labels
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# 7. Select the rows where the number of attempts in the examination is greater than 2
df = pd.DataFrame(exam_data, index=labels)
print("7. Number of attempts in the examination is greater than 2:")
print(df[df['attempts'] > 2])
print()

# 8. Count the number of rows and columns of a DataFrame
print("8. Number of Rows:", len(df))
print("   Number of Columns:", len(df.columns))
print()

# 9. Select the rows where the score is missing, i.e., is NaN
print("9. Rows where score is missing:")
print(df[df['score'].isnull()])
print()

# 10. Select the rows where the score is between 15 and 20 (inclusive)
print("10. Rows where the score is between 15 and 20 (inclusive):")
print(df[(df['score'] >= 15) & (df['score'] <= 20)])

7. Number of attempts in the examination is greater than 2:
      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

8. Number of Rows: 10
   Number of Columns: 4

9. Rows where score is missing:
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

10. Rows where the score is between 15 and 20 (inclusive):
        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes