In [3]:
import pandas as pd

# 1. Join dataframes along rows and assign all data
student_data1 = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})

student_data2 = pd.DataFrame({
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
})

merged_rows = pd.concat([student_data1, student_data2], axis=0)
print("Merged data along rows:")
print(merged_rows)

Merged data along rows:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

In [6]:
# 2. Join dataframes along columns and assign all data
merged_cols = pd.concat([student_data1, student_data2], axis=1)
print("\nMerged data along columns:")
print(merged_cols)

Merged data along columns:
  student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8   Madeeha Preston    201

In [8]:
# 3. Append rows to an existing DataFrame and display combined data
new_row = pd.Series(['S6', 'Scarlette Fisher', 205], index=student_data1.columns)
student_data1 = student_data1.append(new_row, ignore_index=True)
print("\nCombined data after appending rows:")
print(student_data1)

AttributeError: 'DataFrame' object has no attribute 'append'

In [11]:
# 4. Append a list of dictionaries or series to an existing DataFrame and display combined data
data_to_append = [{'student_id': 'S6', 'name': 'Scarlette Fisher', 'marks': 205}]
student_data1 = student_data1.append(data_to_append, ignore_index=True)
print("\nCombined data after appending dictionary:")
print(student_data1)

AttributeError: 'DataFrame' object has no attribute 'append'

In [13]:

# 5. Join two dataframes along rows and merge with another dataframe along the common column id
exam_data = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
    'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]
})

merged_data = pd.concat([student_data1, student_data2])
merged_data = pd.merge(merged_data, exam_data, on='student_id')
print("\nMerged data with exam data:")
print(merged_data)

Merged data with exam data:
  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200       23
1         S2      Ryder Storey    210       45
2         S3      Bryce Jensen    190       12
3         S4         Ed Bernal    222       67
4         S5       Kwame Morin    199       21
5         S4  Scarlette Fisher    201       67
6         S5  Carla Williamson    200       21
7         S7    Kaiser William    219       55
8         S8   Madeeha Preston    201       33

In [14]:
# 6. Join two dataframes using the common column of both dataframes
merged_inner = pd.merge(student_data1, student_data2, on='student_id')
print("\nMerged data using common column:")
print(merged_inner)

# 7. Join two dataframes with matching records from both sides where available
merged_outer = pd.merge(student_data1, student_data2, on='student_id', how='outer')
print("\nMerged data with matching records:")
print(merged_outer)

Merged data using common column:
  student_id       name_x  marks_x            name_y  marks_y
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200

Merged data with matching records:
  student_id            name_x  marks_x            name_y  marks_y
0         S1  Danniella Fenton    200.0               NaN      NaN
1         S2      Ryder Storey    210.0               NaN      NaN
2         S3      Bryce Jensen    190.0               NaN      NaN
3         S4         Ed Bernal    222.0  Scarlette Fisher    201.0
4         S5       Kwame Morin    199.0  Carla Williamson    200.0
5         S6               NaN      NaN       Dante Morse    198.0
6         S7               NaN      NaN    Kaiser William    219.0
7         S8               NaN      NaN   Madeeha Preston    201.0

In [15]:
# 8. Left join the two dataframes using keys from left dataframe only
data1 = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
})

data2 = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
})

left_join = pd.merge(data1, data2, on=['key1', 'key2'], how='left')
print("\nLeft join data:")
print(left_join)

Left join data:
  key1 key2   P   Q    R    S
0   K0   K0  P0  Q0   R0   S0
1   K0   K1  P1  Q1  NaN  NaN
2   K1   K0  P2  Q2   R1   S1
3   K1   K0  P2  Q2   R2   S2
4   K2   K1  P3  Q3  NaN  NaN

In [16]:
# 9. Join two dataframes using keys from right dataframe only
right_join = pd.merge(data1, data2, on=['key1', 'key2'], how='right')
print("\nRight join data:")
print(right_join)

# 10. Merge two datasets using multiple join keys
multi_key_merge = pd.merge(data1, data2, on=['key1', 'key2'])
print("\nMerge using multiple join keys:")
print(multi_key_merge)

Right join data:
  key1 key2    P    Q   R   S
0   K0   K0   P0   Q0  R0  S0
1   K1   K0   P2   Q2  R1  S1
2   K1   K0   P2   Q2  R2  S2
3   K2   K0  NaN  NaN  R3  S3

Merge using multiple join keys:
  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

In [17]:
# 11. Create a new DataFrame based on existing series, using specified argument and override existing column names
series1 = pd.Series([1, 2, 3])
series2 = pd.Series([4, 5, 6])
new_df = pd.concat([series1, series2], axis=1, keys=['X', 'Y'])
print("\nNew DataFrame with overridden column names:")
print(new_df)

New DataFrame with overridden column names:
   X  Y
0  1  4
1  2  5
2  3  6

In [18]:
# 12. Create a combination from two dataframes where a column id combination appears more than once in both dataframes
data1 = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
})

data2 = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
})

merged_combination = pd.merge(data1, data2, on=['key1', 'key2'])
print("\nCombined data where id combination appears more than once:")
print(merged_combination)

Combined data where id combination appears more than once:
  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

In [19]:
# 13. Combine the columns of two potentially differently-indexed DataFrames into a single result DataFrame
data1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
}, index=['K0', 'K1', 'K2'])

data2 = pd.DataFrame({
    'C': ['C0', 'C2', 'C3'],
    'D': ['D0', 'D2', 'D3']
}, index=['K0', 'K2', 'K3'])

result = pd.concat([data1, data2], axis=1)
print("\nCombined DataFrame with potentially differently-indexed DataFrames:")
print(result)

Combined DataFrame with potentially differently-indexed DataFrames:
      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [20]:
# 14. Merge two dataframes with different columns
data1 = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
})

data2 = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
})

merged_diff_cols = pd.merge(data1, data2, on=['key1', 'key2'])
print("\nMerged dataframes with different columns:")
print(merged_diff_cols)

Merged dataframes with different columns:
  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

In [21]:
# 15. Combine two DataFrame objects by filling null values in one DataFrame with non-null values from the other DataFrame
df1 = pd.DataFrame({
    'A': [None, 0.0, None],
    'B': [3, 4, 5]
})

df2 = pd.DataFrame({
    'A': [1, 1, 3],
    'B': [3.0, None, 3.0]
})

combined_filled = df1.combine_first(df2)
print("\nCombined DataFrame with filled null values:")
print(combined_filled)

Combined DataFrame with filled null values:
     A    B
0  1.0  3.0
1  0.0  4.0
2  3.0  5.0